<div class="card w-75 centrar-tarjeta">
  <div class="card-block">
    <h2 class="card-title">{{titulo}}</h2>
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Identificador</th>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Trae Facturas</th>
            <th>Lo que Trae</th>
          </tr>
        </thead>
        <tbody>
          <tr class="mouse-manito" *ngFor="let persona of listaPersonas" (click)="mostrarseleccionada(persona)">        
            <td>{{persona.id}}</td>
            <td>{{persona.nombreyapellido}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.traeODD ? 'Sí' : 'No'}}</td>
            <td>
              <div *ngFor="let odd of persona.losOddQueTrae">
                <span class="badge etiqueta-odd">{{odd.nombre}}</span>
                <br>
              </div>
            </td>
          </tr>    
        </tbody>
      </table>
  </div>
</div>