<template ngbModalContainer></template>
<template #content let-c="close" let-d="dismiss">
  <div class="popover-right">
  <div class="modal-header pop">
    <h4 class="modal-title">Eliminar Objeto de Deseo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-block">
         <p>¿Desea Eliminar los datos de: <strong>{{oddSeleccionado.nombre}}</strong></p>    
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Cancelar</button>
    <button type="button" class="btn btn-secondary">Borrar Datos</button>
  </div>
  </div>          
</template>
<listaseleccionablepersonasodd [titulo] = "titulo" (onSelected)="getdatosOddSeleccionada($event, content)"></listaseleccionablepersonasodd> 
