<template ngbModalContainer></template>
<template #content let-c="close" let-d="dismiss">
  <div class="popover-right">
  <div class="modal-header pop">
    <h4 class="modal-title">Eliminar Persona</h4>
    <button type="button" class="close" aria-label="Close" (click)="d()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Desea Eliminar los datos de: <strong>{{personaSeleccionada.nombreyapellido}}</strong></p>
    <div class="card-block">
         <form>
             <div class="form-group col-md-2">
                 <p class="card-text">Teléfono: {{personaSeleccionada.telefono}}</p>
             </div>            
             <div class="form-group col-md-5">
                 <legend class="col-form-legend">Objetos de deseo</legend>
                 <div class="form-check" *ngFor="let odd of listadoOdd">
                     <label class="form-check-label" >
                         <input class="form-check-input disabled" type="checkbox">{{odd.nombre}}
                     </label>
                 </div>
             </div>                     
         </form>
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c()">Cancelar</button>
    <button type="button" class="btn btn-secondary">Borrar Datos</button>
  </div>
  </div>          
</template>
<listaseleccionablepersonas [titulo] = "titulo" (onSelected)="getdatosPersonaSeleccionada($event, content)"></listaseleccionablepersonas> 
