<div class="card w-75 centrar-tarjeta">
  <div class="card-block">
    <h2 class="card-title">Listado de Personas</h2>
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Identificador</th>
            <th>Nombre y Apellido</th>
            <th>Telefono</th>
            <th>Trae Facturas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of listaPersonas">        
            <td>{{persona.id}}</td>
            <td>{{persona.nombreyapellido}}</td>
            <td>{{persona.telefono}}</td>
            <td>{{persona.traeODD ? 'Sí' : 'No'}}</td>
          </tr>    
        </tbody>
      </table>
  </div>
</div>