<div class="centrar-tarjeta">
    <div class="card">    
        <div class="card-block">
            <h2 class="card-title">Alta de Objetos de Deseo</h2>
            <form>
                <div class="form-group col-md-6">
                    <label for= "nombreyapellidoinput">Nombre</label>
                    <input type="text" class="form-control" id="nombreinput" placeholder="Nombre del objeto de deseo" required>
                </div>            
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" class="btn btn-secondary">Agregar</button>               
                </div>            
            </form>
        </div>
    </div>
</div>